/* Colors style */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  background-color: #BCF378;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h3 {
  text-align: center;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#time-label {
  font-size: 125px;
  font-size: 15vw;
  padding: 0;
  margin: 0;
  position: relative;
  top: 45%;
  transform: translate(0, -50%);
  font-weight: 400;
}

#color-label {
  font-size: 75px;
  font-size: 2.5vw;
  margin-top: 10px;
  font-weight: 300;
  background-color: blue;
}
